Zen.EveCalc/TestData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="evec_api">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marketstat">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="buy">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="volume" type="xs:float" />
                          <xs:element name="avg" type="xs:float" />
                          <xs:element name="max" type="xs:float" />
                          <xs:element name="min" type="xs:float" />
                          <xs:element name="stddev" type="xs:float" />
                          <xs:element name="median" type="xs:float" />
                          <xs:element name="percentile" type="xs:float" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sell">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="volume" type="xs:float" />
                          <xs:element name="avg" type="xs:float" />
                          <xs:element name="max" type="xs:float" />
                          <xs:element name="min" type="xs:float" />
                          <xs:element name="stddev" type="xs:float" />
                          <xs:element name="median" type="xs:float" />
                          <xs:element name="percentile" type="xs:float" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="all">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="volume" type="xs:float" />
                          <xs:element name="avg" type="xs:float" />
                          <xs:element name="max" type="xs:float" />
                          <xs:element name="min" type="xs:float" />
                          <xs:element name="stddev" type="xs:float" />
                          <xs:element name="median" type="xs:float" />
                          <xs:element name="percentile" type="xs:float" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="method" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>